
<section data-view="-1" data-type="text" class="">
    <h1 class="border"> "Werde Citizen Scientist </h1>
    <br>
    <p class="border">Melde dich an über <a href="mailto:s.wuschitz@akbild.ac.at">s.wuschitz[at]akbild.ac.at"</a> </p>

    
    <p class="border"> Hinterlassen Sie hier Ihr Feedback oder sehen Sie sich an, was andere gemacht haben:
    <a href="https://forum.openhardware.science/g/Open-Secrets-Salon" target="_blank">Wiki</a></p>
    
    <p class="border"> Scannen oder klicken, um sich mit dem Newsletter zu verbinden: 
        <a href="https://newsletter.mzbaltazarslaboratory.org/subscription/r1y_hzD8n?fbclid=IwAR38ceQR8ksrcrpRCObFfDaK6iqNpxSGiWNabhK2V9ATTixfLyVzAvItrQs" target="_blank">Newsletter</a>
    </p>
    <img class="border square" src="img/newsletter-qr.png" alt="newsletter-qr">

    <!--
    <button class="border link" data-link="link2"> Newsletter </button>
    <a href="https://newsletter.mzbaltazarslaboratory.org/subscription/r1y_hzD8n?fbclid=IwAR38ceQR8ksrcrpRCObFfDaK6iqNpxSGiWNabhK2V9ATTixfLyVzAvItrQs" target="_blank" class="hide" id="link2">Newsletter</a>
    -->
    <br>
    
    <h1 class="border"> Vielen Dank an alle Beteiligten </h1>
    <br>
    <p class="border"> <a href="https://transfeministhacking.akbild.ac.at" target="_blank">FEMINIST HACKING</a>: BUILDING CIRCUITS AS AN ARTISTIC PRACTICE 
        | Projektleitung FWF | PEEK-Projekt
    </p>
    <br>

    <h4 class="border highlight">Team</h4>
    <div class="inline-flex wrap">
        <p class="border"> <a href="https://stefaniewuschitz.com/" target="_blank">Stefanie Wuschitz</a>  </p>
        <p class="border"> <a href="http://www.patriciajreis.com/" target="_blank">Patrícia J. Reis</a>  </p>
        </div>
    <br>


    <h4 class="border highlight">Speakers</h4>
    <div class="inline-flex wrap">
        <p class="border"> Gameli Adzaho </p>
        <p class="border"> Hannah Perner Wilson </p>
        <p class="border"> Saad Chinoy </p>
        <p class="border"> Rajina Shrestha</p>
        <p class="border"> Maria Antonia Gonzalez Valerio </p>            
        <p class="border"> Irene Agrivina</p>
        <p class="border"> Seyram Avle  </p>
        <p class="border"> Milton Raggi </p>
        
    </div>
    <br>

    <h4 class="border highlight">Voice Over</h4>
    <div class="inline-flex wrap">
        <p class="border"> Franziska Schindler</p>      
    </div>
    <br>


    <h4 class="border highlight">Tontechnik</h4>
    <div class="inline-flex wrap">
        <p class="border"> Mario Pillai</p>      
        <p class="border"> <a href="https://www.lsound.co/" target="_blank">L.Sound</a></p>
    </div>
    <br>

    
    <h4 class="border highlight">Website-Design+Entwicklung</h4>
    <div class="inline-flex wrap">
        <p class="border"> Beatriz Lacerda as <a href="http://www.not-bz.com/" target="_blank">NOT BZ Studio</a></p>
    </div>
    <br>


    <h1 class="border highlight"> Kontakt </h1>
    <div class="inline-flex wrap">
        <p class="border"> <a href="http://www.grenzartikel.com/" target="_blank">Stefanie Wuschitz</a> — <br>
            s.wuschitz[at]akbild.ac.at
        </p>
    
        
    </div>
    <br>
</section>
